.navbar {
    width: 100%;
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    font-size: 1.25rem;
    z-index: 1;
    background: var(--bg-navbar);
    border-bottom: 1px solid var(--border-light);
}

.navbar-title {
    color: var(--primary);
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logout-btn {
    background: none;
    border: none;
    color: var(--logout);
    cursor: pointer;
    font-size: 20px;

}

.logout-btn:hover {
    transform: translateY(-2px);
}

.auth-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.login-btn, .signup-btn {
    padding: 8px 16px;
    border: 2px solid var(--primary);
    border-radius: 20px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.login-btn {
    background: var(--primary);
    color: var(--text-main);
}

.login-btn:hover {
    background: var(--primary-light);
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(6, 182, 212, 0.3);
}

.signup-btn {
    background: transparent;
    color: var(--primary);
}

.signup-btn:hover {
    background: var(--primary);
    color: var(--text-main);
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(6, 182, 212, 0.3);
}

.user-name {
    color: var(--text-soft);
    font-size: 16px;
    margin-right: 15px;
}

.menu-icon {
  display: none;
  cursor: pointer;
  color: var(--text-main);
}

/* mobile */
@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .navbar-right {
    position: absolute;
    top: 70px;
    height: 100vh;
    right: 0;
    background: var(--bg-card);
    width: 200px;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 15px;
    transform: translateX(100%);
    transition: 0.3s;
  }

  .auth-links {
    flex-direction: column;
    width: 100%;
  }

  .navbar-right.active {
    transform: translateX(0);
  }
}