:root {
  --bg-main: #020617;
  --bg-navbar: #020617;
  --bg-card: #111827;
  --bg-input: #1F2937;
  --primary: #06B6D4;
  --primary-light: #67E8F9;
  --text-main: #FFFFFF;
  --text-soft: #CBD5E1;
  --border-light: rgba(255, 255, 255, 0.10);
  --logout: #EF4444;
  --bg-footer: #020617;
  --border-footer: rgba(255, 255, 255, 0.10);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-main);
  color: var(--text-main);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}