@import "tailwindcss";

@theme {
  --color-background: #020617;
  --color-navbar: #020617;
  --color-card: #111827;
  --color-input: #1f2937;
  --color-border: rgba(255, 255, 255, 0.1);
  --color-muted: #cbd5e1;

  --color-primary: #06b6d4;
  --color-primary-light: #67e8f9;

  --color-danger: #FF0E0E;
}
